// -------
$color-background: var(--background-rgb);
$color-foreground: var(--foreground-rgb);
$color-foreground-light: var(--foreground-light-rgb);
// -------
$font-robo: var(--font-robo);
$font-poppins: var(--font-poppins);
$font-inter: var(--font-inter);
// -------
$font-size: var(--font-size);
$font-size-s: var(--font-size-s);
$font-size-l: var(--font-size-l);
$font-size-xl: var(--font-size-xl);
$font-size-xxl: var(--font-size-xxl);
// ---------
$color-primary: var(--color-primary-rgb);
$color-primary-dark: var(--color-primary-dark-rgb);
$color-primary-light: var(--color-primary-dark-light-rgb);
$color-secondary: var(--color-secondary-rgb);
$color-secondary-dark: var(--color-secondary-dark-rgb);
$color-white: var(--color-white-rgb);
$color-black: var(--color-black-rgb);
$color-gray: var(--color-gray-rgb);
$color-gray-light: var(--color-gray-light-rgb);
$color-gray-dark: var(--color-gray-dark-rgb);
$color-link: var(--color-link-rgb);
$color-text: var(--color-text-rgb);
$color-border: var(--color-border-rgb);
$color-border-modal: var(--color-border-modal-rgb);
$color-shadow: var(--color-shadow);
$color-danger: var(--color-danger-rgb);
// ---------
$border-color: var(--border-color-rgb);
$border-color-grid: var(--border-color-grid-rgb);
$border-size: var(--border-size);
$border-radius: var(--border-radius);
// ---------
$control-border-radius: var(--control-border-radius);
$grid-border-radius: var(--grid-border-radius);
// ---------
$card-border-color: var(--card-border-rgb);
$card-border-size: var(--card-border-size);
$card-border-radius: var(--card-border-radius);
// ---------
$table-header-color: var(--table-header-color-rgb);
//   ================
//   ================
$box-shadow: var(--box-shadow);
$box-shadow-heigh: var(--box-shadow-heigh);
$dashboard-box-shadow: var(--dashboard-box-shadow);
$dashboard-box-padding: var(--dashboard-box-padding);
$dashboard-border-radius: var(--dashboard-border-radius);
//   =================


