@use "variables" as vars;
// ---------------
.login_wrapper {
  width: 100%;
  height: 100vh;
  z-index: 0;
  display: flex;
  gap: 100px;
  .login_info_grid {
    width: 45%;
    display: grid;
    align-items: center;
    position: relative;
    &::before {
      content: "";
      width: 800px;
      height: 100vh;
      background: rgba(236, 34, 34, 0.2);
      border-radius: 0 50% 50% 0;
      position: absolute;
      top: 0px;
      right: 0px;
      z-index: -1;
      opacity: 0.8;
    }
    .brand__logo {
      position: absolute;
      left: 1.5rem;
      top: 1.5rem;
      z-index: 1;
      img {
        max-height: 60px;
      }
    }
    .qriouscodes__img {
      img {
        max-height: 75%;
        max-width: 75%;
      }
    }
    .brand__name {
      position: absolute;
      left: 0rem;
      bottom: 1.75rem;
      .brand__name__text {
        background: #e31f32;
        color: rgb(vars.$color-white);
        border-radius: 0 2rem 2rem 0;
        font-size: 1.75rem;
        font-weight: 500;
        padding: 0.5rem 3rem 0.5rem 1rem;
      }
      img {
        max-height: 60px;
      }
    }
  }
  .login_form_col {
    width: 55%;
    display: grid;
    align-items: center;
    .login_form_grid {
      max-width: 520px;
      padding: 2rem;
      .company__logo {
        padding-bottom: 1.5rem;
        img {
          max-width: 250px;
          max-height: 90px;
        }
      }
      h1 {
        font-size: 2rem;
        font-weight: 500;
        line-height: normal;
      }
      p {
        font-size: vars.$font-size-s;
      }
      .forgot__link {
        text-decoration: underline;
      }
    }
  }
}
// ==========================
// keyframes animation
// ==========================

// ==========================
// responsive
// ==========================
@media (max-width: 1600px) {
}
@media (max-width: 1366px) {
}
@media (max-width: 1200px) {
}
@media (max-width: 768px) {
}
@media (max-width: 600px) {
}
@media (max-width: 490px) {
}
